@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap");
html {
  font-size: 62.5%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3% auto;
  width: 70%;
  height: 70%;
  padding: 7%;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
header {
  color: #171717;
  font-family: "Playfair Display";
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: -0.21px;
}
section {
  font-family: Lato;
  opacity: 0.7;
  color: #171717;

  line-height: 3rem;
  font-size: 18px;
  font-weight: 300;
}
section::first-letter {
  color: #171717;
  opacity: 1;
  font-family: "Playfair Display";
  text-transform: uppercase;
  font-size: 11rem;

  float: left;
  margin-right: 3px;
}
.quote {
  font-size: 24px;
  font-style: italic;
  letter-spacing: -0.12px;
  line-height: 34px;
  opacity: 0.7;
}
.quote-sign {
  font-style: italic;
  letter-spacing: -0.09px;
  line-height: 40px;
  font-size: 60px;
}
.btn {
  width: 26rem;
  height: 6.5rem;
  border: 1px solid #eaa258;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.button {
  font-family: Lato;
  color: #eaa258;
  font-family: Lato;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
